.Changa{
    font-family: 'Changa', sans-serif;
    /* wght@200;400;700 */
    font-weight: 700;
    font-size: 60px;
}

.Neuton{
    font-family: 'Neuton', serif;
    /* ital,wght@0,200;0,300;0,400;1,400 */
    font-weight: 200;
}

.Space_Mono{
    font-family: 'Space Mono', monospace;
    /* ital,wght@0,400;0,700;1,400 */
    font-weight: 400;

}
.IBM{
    font-family: 'IBM Plex Sans', sans-serif;
    /* ital,wght@0,100;0,300;0,500;1,100;1,300;1,500 */
    font-weight: 300;
}
/* Code formatting with github integration */

/* COLOR COMBOS from: https://coolors.co/312f2f-2f6690-dee5e5-4c5b61-c2dfe3*/
/* ICY SLATE: dcedff-94b0da-8f91a2-505a5b-343f3e */
/* COOL BLUE: fcf7f8-ced3dc-aba9c3-275dad-5b616a */
/* KHAKIS: 0a0908-22333b-eae0d5-c6ac8f-5e503f */

/* PLATINUM: 312f2f--dee5e5-4c5b61-c2dfe3 */

:root{
    --slate-gray: #312f2f;
    --pop-blue: #2f6690;
    --steel-gray: #4c5b61;
    --ice-white: #dee5e5;
    --baby-blue: #c2dfe3;
}

html, body {height: 100%; }
body { background: var(--slate-gray);color: var(--ice-white);font-size: 16px; line-height: 1.64; }
